article { border-left: 1px solid gray; padding: 20px; display: none;} 
article.on {display: block;}
#grid { display: grid; grid-template-columns: 150px 1fr; } 
#grid ol { width: 100px; margin: 0%; padding: 20px; } 
body { margin: 0%; } 
a { color: inherit; text-decoration: none; } 
h1 { font-size: 60px; text-align: center; border-bottom: 1px solid gray; margin: 0%; padding: 20px; } 

@media (max-width: 800px){
#grid { display: block; } 
#article { border-left: none; } 
}
